.sidenav {
  height: 100% ;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #262626;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 20px 0px;


}

.flex {
  display: flex;
  align-items: center;
}

.nav_link {
  padding: 0.8em;
  width: 100%;
  color: white;
  
}

.nav_link:hover,
.active {
  background-color: rgba(255, 255, 255, 0.43);
  color: rgb(0, 0, 0);
  
}

.icon {
  margin-right: 10px;
}

.row_hover {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.row_hover:hover {
  transform: scale(1.05);

}

.input{
  margin-top:25px;
}

.input button{
  background-color:#764AF1;
  color:white;
  border:2px solid #764AF1;
}

.card{
  background: white;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 20px 0px;
  border-radius: 32px;
  justify-content: center;
  flex-direction:column;
  margin-top: 100px;
  width: 30%;
  padding: 1em;
  padding-bottom: 1.5em ;
}